/* Override Bootstrap background colors */
.container-p-y,
.row-bordered,
.col-md-3 {
    background-color: transparent !important;
}

/* Override color and hover styles for btn-twitter */
.btn.btn-twitter {
    background-color: #1da1f2; /* Your desired background color */
    border-color: #1da1f2; /* Your desired border color */
    color: #fff; /* Your desired text color */
}

.btn.btn-twitter:hover {
    background-color: #0d8bf9; /* Your desired hover background color */
    border-color: #0d8bf9; /* Your desired hover border color */
    color: #fff; /* Your desired hover text color */
}


/* Glass effect and shadows */
.container-p-y {
    background: rgba(255, 255, 255, 0.15); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Adjust blur radius as needed */
}

.row-bordered, .row-border-light {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

.col-md-3, .col-md-9 {
    background: rgba(255, 255, 255, 0.15); /* Adjust opacity as needed */
    backdrop-filter: blur(10px); /* Adjust blur radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(18px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container {
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(18px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.light-style {
    background-color: transparent; /* Change to transparent */
    color: #333; /* Change to your preferred text color */
}

.flex-grow-1 {
    flex-grow: 1;
}

.container-p-y {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

h4.font-weight-bold.py-3.mb-4 {
    color: white;
}


.font-weight-bold {
    font-weight: bold;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row-bordered {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.row-border-light {
    border-color: rgba(0, 0, 0, 0.125);
}

.pt-0 {
    padding-top: 0 !important;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
    border: 0;
}

.list-group-item-action.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent; /* Change to transparent */
    background-clip: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Added box-shadow */
    border: none; /* Removed border */
}

.media {
    display: flex;
    align-items: flex-start;
}

.align-items-center {
    align-items: center !important;
}

.d-block {
    display: block !important;
}

.ui-w-80 {
    width: 80px !important;
}

.media-body {
    flex: 1;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.md-btn-flat {
    border-width: 0;
    border-radius: 0;
}

.text-light {
    color: #f8f9fa !important;
}

.small {
    font-size: 0.875rem;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%2343545d' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    appearance: none;
}


.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

textarea.form-control {
    min-height: 80px;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    resize: vertical;
}

.switcher {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 25px;
    margin: 0;
    background-color: #dee2e6;
    border-radius: 25px;
    cursor: pointer;
}

.switcher-input {
    display: none;
}

.switcher-indicator {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: left 0.3s;
}

.switcher-yes,
.switcher-no {
    display: inline-block;
    line-height: 21px;
    color: #333;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0 10px;
    white-space: nowrap;
}

.switcher-yes {
    float: left;
}

.switcher-no {
    float: right;
}

.switcher-input:checked + .switcher-indicator {
    left: 31px;
}

.switcher-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

hr.border-light {
    border-top-color: rgba(255, 255, 255, 0.1);
}

.text-muted {
    color: #6c757d !important;
}

.text-tiny {
    font-size: 0.75rem;
}

.ion {
    vertical-align: middle;
}

.ion-md-close:before {
    content: "\f218";
}

.ion-logo-google {
    color: #db4437;
}

.text-google {
    color: #db4437 !important;
}

.text-twitter {
    color: #1da1f2 !important;
}

.text-facebook {
    color: #3b5998 !important;
}

.text-instagram {
    color: #c32aa3 !important;
}

.float-right {
    float: right !important;
}

.btn-default:hover {
    color: #dc3545; /* Change text color on hover */
    background-color: #dc3545; /* Change background color on hover */
}
/* End of Global Styles */
